flask==2.3.0
flask-cors==5.0.1
flask-jwt-extended==4.4.4
pdfplumber==0.5.28
python-docx==0.8.11
google-api-python-client==2.82.0
mysql-connector-python==8.0.32
werkzeug==2.3.4
google-generativeai==0.2.0
yagmail==0.15.293
fitz==1.0.0
docx2txt==0.8
